@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Source+Sans+Pro:wght@400;600;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body,#root,.content{
  height:100%;
  width:100%;
  font-family: 'Source Sans Pro',sans-serif;
}

.signupShadow{
  box-shadow: 1px -10px 5px 5px rgba(0,0,0,0.26);
}
body{
  background: rgb(101,138,244);
  background: linear-gradient(75deg, rgba(101,138,244,1) 0%, rgba(244,177,246,1) 100%);
}

.registerOr{
  position:relative;
  height:1px;
  width:95%;
  margin:36px 0;
  background-color:#d4d4d4;
  padding:0 30px;
  font-weight: 700;
}
.registerOr::before{
  content:'Or';
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color:#FFF;
  color:#232836;
  padding:0 15px;

}
